@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
html {
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* width */
::-webkit-scrollbar {
  height: 0;
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  height: 0;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 0;
  border-radius: 0;
}
.alegreya-ass {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 600;
}
